@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin:0px;
}
body {
  margin: 0;
  font-family: Poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  display: none;
}


#section1{
  background-image: url(https://img.freepik.com/free-photo/shopping-cart-with-pill-foils-copy-space_23-2148533453.jpg?w=1800&t=st=1687511632~exp=1687512232~hmac=5c28e5717de633c5af13a53e3609e26be156d6cef93e468118ff6e5fefc7219c);
  background-size: 50%;
  background-position: right 5px top 20px;
  background-repeat: no-repeat;
  background-color: #9acaf1;
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
  #section1{
    background-position: right 5px bottom 10px  !important;
    background-size: 70%;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  #section1{
    background-position: right 80px bottom 10px !important;
    background-size: 100%;
  }
}

#cart-count{
  content:attr(value);
        font-size:10px;
        color: #fff;
     
        border-radius:50%;
        padding: 0 7px;
        position:relative;
        left:9px;
        top:5px;
        opacity:0.9;
}

#cart-count-phone{
  content:attr(value);
        font-size:10px;
        color: #fff;
     
        border-radius:50%;
        padding: 4px 7px;
        position:relative;
        left:10px;
        top:5px;
        opacity:0.9;
}