@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin:0px;
}
body {
  margin: 0;
  font-family: Poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  display: none;
}

#pharmacy{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
#section1{
  background-image: url(https://i.ibb.co/frhZ9PQ/a-picture-taken-in-between-two-lanes-with-racks-full-of-medecines-on-each-side-both-left-and-right-i.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: top 0px center;
  background-repeat: no-repeat;
  background-color: rgb(105, 105, 105);
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
  #section1{
    background-position: right 5px bottom 10px  !important;
    background-size: 70%;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  #section1{
    background-position: right 80px bottom 10px !important;
    background-size: 100%;
  }
}

#cart-count{
  content:attr(value);
        font-size:10px;
        color: #fff;
     
        border-radius:50%;
        padding: 0 7px;
        position:relative;
        left:9px;
        top:5px;
        opacity:0.9;
}

#cart-count-phone{
  content:attr(value);
        font-size:10px;
        color: #fff;
     
        border-radius:50%;
        padding: 4px 7px;
        position:relative;
        left:10px;
        top:5px;
        opacity:0.9;
}